html, body {
	width: 100%;
}

h1 {
	color: red;
	text-align: center;
	font-family: "Comic Sans MS";
	font-size: 40px;
	background-color: blue;
}
h4{
	font-family: "Comic Sans MS";
	font-size: 50px;
}
#twiz-time{
	font-family: "Impact";
	font-size: 30px;
	text-align: center;
	background-color: yellow;
}

#page {
	margin: 0 auto;
	max-width: 800px;
	position: relative;
}
body{
	font-family: "arial";
	color: blue;
	background-image: url("stars.gif");
	background-size: 1000;
}
form{
	border: 3px dashed red;
	margin-top: 100px;
	padding-left: 200px;
	background-color: white;
	margin-bottom: 150px;
}
li{
	font-size: 25px;
}
img{
	margin-bottom: 40px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
#BIZ{
	font-family: "verdana";
	background-color: blue;
}


#VOLCANETWAN {
	display: block;
	margin: 0 auto;
	width: 100px;
	transform: rotate(0deg);
}

#VOLCANETWAN.YO {
	display: block;
	margin: 0 auto;
	transition: width 1s, transform 3s, filter 3s, padding 3s;
	width: 600px;
	transform: rotate(360deg);

}

#arrow{
    height: 50px;
    margin-bottom: 0px;
}

/* Gallery */
#gallery img{
	width:350px;
}